.home-container {
  background-color: var(--blue-tec);
  height: 100vh;
  width: 100vw;
  display: flex;
  align-items: center;
  justify-content: center;
  justify-content: space-evenly;
  flex-direction: column;
}

.home-container .home-subcontainer {
  display: flex;
  flex-direction: column;
  gap: 16px;
  width: 35%;
}
